html {
    max-width: 1200px;
    max-height: 800px;
    border: 1px solid black;
    margin: 25px auto;
}

a, a:hover, a:active {
    text-decoration: none;
    color: #666;
}

.genres a {
    color: #666;
    text-decoration: none;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: white;
    border: 1px solid #f69a00;
    border-radius: 2px;
    display: inline-block;
}

.main {
    height: 1200px;
}

.genres {
    top: 10%;
    position: relative;
}

.top-row {
    margin: 0 auto;
    width: 60%;
    top: 20%;
}

.bottom-row {
    margin: 0 auto;
    width: 60%;
}

.genres i {
    color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: -5px 0 15px 0;
}

.genres p {
    text-align: center;
}

.content {
    height: 100%;
    padding: calc(150px/2/1.6) 0
}

#genre-title {
    margin-bottom: 20px;
    color: #0F2C56;
    font-size: 26pt;
    text-align: center;
}
