.container {
    max-width: 1400px;
}

/* NAVIGATIE */
.navigatie {
    background-color: #1a3d73!important;
}

.navigatie a {
    color: #ffffff;
}

.navigatie-zoek-veld {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border: none;
}

.navigatie-zoek-button {
    background-color: #f8991c;
    margin-left: -12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
}

.navigatie-zoek-button:hover {
    background-color: #f38d07;
}

.navigatie-zoek-button i {
    color: #ffffff;
}

/* CTA BLOKKEN */
#cta-blokken {
    background-color: red;
}

.cta-blok {
    background-color: yellow; 
}

.carousel .carousel-item {
    height: 25em;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 25em;
  }
