/* ALGEMEEN */
h3 {
    color: #0f2c56;
}

.row {
    margin: 0!important;
}

html {
    height: 800px; 
    max-height: 800px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
}

.container {
    max-width: 1400px;
}

/* NAVIGATIE */

/* CTA SLIDER */
.cta-slider {
    background-color: blue;
    height: 800px;
}

.carousel-item img {
    height: 800px;
    object-fit: cover;
}

/* CTA BLOKKEN */
.cta-blocks, .cta-slider {
    padding: 0px!important;
}

.cta-blokken {
    height: 800px;
}

.cta-links {
    height: calc(800px/3);
    text-align: center;
    padding: calc(800px/3/3) 0px;
    border: 1px solid #f49908;
}

.cta-links i {
    font-size: 60px;
    margin: -15px 0 15px 0;
    color: #f49908;
}

/* CAROUSEL */
/* .carousel .carousel-item {
    height: 25em;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 25em;
  } */