html {
    max-height: 800px;
    max-width: 1200px;
    margin: 0 auto;
}

/* NAVIGATIE */
.navigatie {
    background-color: #1a3d73!important;
}

.navigatie a {
    color: #ffffff;
}

.navigatie-zoek-veld {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border: none;
}

.navigatie-zoek-button {
    background-color: #f8991c;
    margin-left: -12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
}

.navigatie-zoek-button:hover {
    background-color: #f38d07;
}

.navigatie-zoek-button i {
    color: #ffffff;
}

/*LOCATIES*/

.locaties p {
    margin-bottom: 0.5rem;
}

.locaties td {
    padding:0 !important;
}